.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: {
      top: 48px;
      bottom: 16px;
    }
  }
  .highlighter-rouge {
    font-weight: bold;
    background-color: $code-background-color;
    color: $code-color;
    pre {
      margin: 0;
    }
    padding: 8px 8px 2px 8px;
    code {
      padding-bottom: 6px;
      display: block;
      overflow-x: auto;
      font-size: small;
      font-weight: initial;
      .kd {
        color: #00ff00;
      }
      .nb {
        color: #50c8af;
      }
      .p,
      .o {
        color: #ffffff;
      }
      .nx {
        color: #7de2f0;
      }
      .s1,
      .s2 {
        color: #cd9176;
      }
      .c1 {
        color: #529855;
      }
    }
  }
}
#_404 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    border-radius: 6px;
  }
}
#index-nav {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  li {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 2px 0;
    border-radius: 6px 20px;
  }
  a {
    display: block;
    padding: 16px 64px;
  }
}
#footer-panel {
  display: none;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  top: -8px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 12px 0px;
}
#paginator-container {
  .paginator-button {
    display: block;
    color: $light-color;
    padding: 4px 8px;
    border-radius: 2px;
  }
  #paginator-page {
    margin: 0 8px;
  }
}
.container {
  width: 100%;
}
#nav-toggler {
  padding: 0;
  border: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
#nav-container {
  display: none;
  position: absolute;
  border-radius: 0 0 10px 10px;
  right: 8px;
  top: 3.5rem;
  ul {
    flex-direction: column;
  }
  box-shadow: 0px 0px 12px 0px;
  z-index: 100;
}
.items-container {
  li:hover {
    box-shadow: 0 0 2px 0;
    border-radius: 6px;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  #footer-panel {
    display: block;
  }
  #nav-toggler {
    display: none;
  }
  #nav-container {
    display: flex;
    top: 0;
    height: 4.5rem;
    ul {
      flex-direction: row;
    }
  }
  .container {
    width: 86%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 72%;
  }
}
@media (min-width: 1200px) {
}
